* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  }

/* BACKGROUND */
body {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(135deg, #1a0025, #4a0033);
color: white;
}

/* CONTAINER */
.container {
text-align: center;
}

/* HEADER */
.header h1 {
font-size: 2.5rem;
margin-bottom: 10px;
}

.header p {
opacity: 0.8;
font-size: 1rem;
}

/* CARDS WRAPPER */
.cards {
margin-top: 50px;
display: flex;
gap: 30px;
flex-wrap: wrap;
justify-content: center;
}

/* CARD */
.card {
width: 260px;
padding: 30px;
border-radius: 20px;
background: rgba(255,255,255,0.08);
backdrop-filter: blur(12px);
border: 1px solid rgba(255,255,255,0.1);
transition: 0.3s;
}

/* HOVER EFFECT */
.card:hover {
transform: translateY(-10px) scale(1.03);
box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* ICON */
.icon {
font-size: 40px;
margin-bottom: 15px;
}

/* TEXT */
.card h2 {
margin-bottom: 10px;
}

.card p {
font-size: 0.9rem;
margin-bottom: 20px;
opacity: 0.8;
}

/* BUTTON */
.card button {
padding: 10px 25px;
border: none;
border-radius: 20px;
cursor: pointer;
font-size: 0.9rem;
transition: 0.3s;
}

/* USER STYLE */
.user button {
background: #AE2448;
color: white;
}

.user button:hover {
background: #c63a5f;
}

/* DOCTOR STYLE */
.doctor button {
background: #00c2a8;
color: white;
}

.doctor button:hover {
background: #00a896;
}
